# Configurações do Servidor
PORT=3001
NODE_ENV=development

# Configurações do Banco de Dados
DATABASE_URL="postgresql://postgres:08032002@localhost:5432/postgres"

# Configurações JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui
JWT_EXPIRES_IN=7d

# Configurações CORS
CORS_ORIGIN=http://localhost:5173 