.blueSection {
  width: 100%;
  height: 150px;
  background: #13244F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerImg {
  width: 180px;
  height: 100px;
  display: block;
  background: url('../assets//WPP-DARK-LOGO.jpg') no-repeat center center;
  background-size: cover;
} 