.hero {
  width: 100%;
  min-height: 70vh;
  background: url('../assets/bannerPrincipal.jpeg') center center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  position: relative;
  padding: 4rem 1rem 3rem 6vw;
  box-sizing: border-box;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255,255,255,0.3); /* overlay branco translúcido */
  z-index: 0;
}

.hero h1,
.hero p,
.heroBtn {
  position: relative;
  z-index: 1;
}

.hero h1 {
  font-size: 3.7rem;
  font-weight: 900;
  color: #f78c1f;
  margin: 0 0 1.1rem 0;
  line-height: 1.06;
  letter-spacing: -1px;
}

.hero p {
  font-size: 1.15rem;
  color: #24272e;
  margin: 0 0 2rem 0;
  font-weight: 400;
}


.heroBtn .iconMail {
  font-size: 1.2rem;
} 