.LocationSession {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}


.locationTextSession {
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    background: url('../assets/img-ex.jpeg') center center/cover no-repeat;

    h3 {
        color:#F58120;
        font-size: 1.6rem;
        
    }

    p {
        color: #363a44;
        font-size: 1.2rem;
    }
}

.textMap {
    background-color: #f2f1f1;
    margin-right: 100px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.17);
}

.mapSession {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.map {
    border: none;
    width: 100%;
    height: 400px;
    
    
}

.footerLocation {
    background-color: #168E97;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}